<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
       <dict>
               <key>data</key>
               <data>
                       Rm91ciBzY29yZSBhbmQgc2V2ZW4geWVhcnMgYWdvIG91ciBmYXRoZXJz
                       IGJyb3VnaHQgZm9ydGggb24gdGhpcyBjb250aW5lbnQsIGEgbmV3IG5h
                       dGlvbiwgY29uY2VpdmVkIGluIExpYmVydHksIGFuZCBkZWRpY2F0ZWQg
                       dG8gdGhlIHByb3Bvc2l0aW9uIHRoYXQgYWxsIG1lbiBhcmUgY3JlYXRl
                       ZCBlcXVhbC4K
               </data>
       </dict>
</plist>
